@font-face {
    font-family: 'Norse';
    src: url('norse-webfont/Norse.woff2') format('woff2'),
        url('norse-webfont/Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Norse';
    src: url('norse-webfont/Norse-Bold.woff2') format('woff2'),
        url('norse-webfont/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

body>* {
    height: 100%;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
}

#image-container {
    width: 28%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#image-container>div {
    z-index: 1;
    color: white;
}

#image-container>div:last-of-type {
    margin-top: auto;
    text-align: center;
    margin-bottom: 15px;
}

#background-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
}

#logo-container {
    position: relative;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    height: 150px;
    margin-top: 40%;
    justify-content: center;
}

#logo-container span {
    font-family: 'Norse', sans-serif;
    font-size: 5rem;
}

#odin-logo {
    width: 5rem;
    height: auto;
    object-fit: contain;
}

#form-container {
    width: 72%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(241, 241, 241);
}

#form-container>p {
    margin: 10px 40px;
}

#form-container>p:nth-child(2) {
    margin-bottom: 3rem;
}

#form-inputs {
    background: white;
    padding: 35px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    box-shadow: 0px 17px 25px -15px black;
}

#info-container,
#info-container+p {
    font-weight: bold;
}

fieldset {
    border: none;
    display: flex;
    gap: 5rem;
    padding: 0;
}

fieldset div {
    display: flex;
    flex-direction: column;
}

#button-container {
    margin: 35px 40px;
}

#login-container {
    margin-left: 35px;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:link {
    color: green;
}

label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(24, 24, 24);
    font-size: 1rem;
}

input[type] {
    border: 1px solid black;
    border-radius: 3px;
    line-height: 1.5rem;
}

input[type]:invalid:not(:focus):not(:focus-visible) {
    border: 1px solid red;
}

input[type]:focus,
input[type]:focus-visible {
    border: 1px solid blue;
    outline: none;
    box-shadow: 5px 5px 0px 0px black;
}

button {
    background: rgb(65, 116, 65);
    color: white;
    padding: 15px 35px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 15px 0 rgb(218, 218, 218);
}

button:hover {
    cursor: pointer;
}